@use 'utils/variables';

@use 'utils/mixin';

@use 'utils/base';

@use 'components/header';

@use 'layouts/Section-hero';

@use 'layouts/Section-About';

@use 'layouts/Section-PORTFOLIO';

@use 'layouts/Section-CONTACTS';

@use 'components/footer';