.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  @media screen and (min-width: 480px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__wrapper-navigation_darklite {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  @media screen and (min-width: 480px) {
    flex-direction: row;
  }
}

.header {
  padding-top: 15px;
  padding-bottom: 8px;
  background-color: var(--style_color);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

.logo {
  font-weight: 700;
  font-size: 36px;
  color: var(--text_color);
  text-transform: uppercase;
  transition: 1s ease;

  @media screen and (min-width: 480px) {}
}

.logo:hover {
  color: var(--bg_color);
}

.drop-down_navigation-menu:active {
  color: var(--program-language-bg_color);
}

.navigation-menu {
  display: flex;
  gap: 32px;
}

.navigation-menu__link {
  font-weight: 500;
  font-size: 18px;
  color: var(--text_color);
  transition: 0.3s ease;
}

.navigation-menu__link:hover {
  color: var(--bg_color);
}






.header__wrapper-navigation_darklite div {
  position: relative;
  width: 50px;
  height: 20px;
  border-radius: 8px;
  background-color: rgb(76, 169, 9);
  border: 1px solid black;
  margin-left: 5px;
  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
}

#Toggle-switch {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 3px;
  left: 5px;
}

.wrapper_Toggle-switch {
  width: 50px;
  height: 20px;
  position: absolute;
  top: -1px;
  left: -1px;
}

.wrapper_Toggle-switch::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 4px;
  top: 3px;
  left: 4px;
  background-color: var(--bg_color);
  transition: transform 0.3s ease-in;
}

#Toggle-switch:checked+.wrapper_Toggle-switch::before {
  transform: translateX(27px);
}