@keyframes text-animation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  padding-top: 160px;
  padding-bottom: 30px;

  @media screen and (min-width: 480px) {
    padding-top: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 54px;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.hero__inner {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin: 0 auto;
  }
}

.hero__subtitle {
  font-weight: 500;
  font-size: 18px;
  color: var(--text2_color);
  animation: text-animation 2s ease 0.5s;
}

.hero__title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--text_color);
  animation: text-animation 2s ease-out 0.5s;

  @media screen and (min-width: 480px) {
    font-size: 50px;
  }
}



.hero__description {
  margin-top: 32px;
  max-width: 560px;
  font-weight: 500;
  font-size: 20px;
  color: var(--text2_color);
  animation: text-animation 2s ease 0.5s;

  @media screen and (min-width: 480px) {
    font-size: 23px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    margin-bottom: 77px;
  }
}

.hero-action {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.hero-action__link {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  color: var(--text_color);
  border-radius: 8px;
  display: inline-block;

  @media screen and (min-width: 480px) {
    font-size: 20px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

@keyframes blok-animation {
  from {
    transform: scale(1);
  }

  20% {
    transform: scale(0.98);
  }

  40% {
    transform: scale(1.02);
  }

  60% {
    transform: scale(0.99);
  }

  80% {
    transform: scale(1.01);
  }

  to {
    transform: scale(1);
  }
}

.hero-action__link:hover {

  animation: blok-animation 1.5s ease-in-out;
}

.hero-action__link-primary {
  background-color: var(--style_color);
  padding: 12px 24px;
  transition: background-color 1s ease;
}

.hero-action__link-primary:hover {
  background-color: #cdbc20;
}

.hero-action__link-secondary {
  outline: 1px solid var(--text_color);
  padding: 12px 32px;
  transition: 1s ease;
}

.hero-action__link-secondary:hover {
  outline: 1px solid var(--link-bg_color);
  color: var(--link-bg_color);
}



.hero__img {
  width: 310px;
  height: 310px;
  border: 4px solid var(--style_color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 450px;
    border: 6px solid var(--style_color);
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 1211px) {
    width: 500px;
    height: 510px;
  }
}

.hero__ava {
  border-radius: 50%;
  width: 290px;

  @media screen and (min-width: 480px) {
    width: 420px;
    height: 420px;
  }

  @media screen and (min-width: 1211px) {
    width: 460px;
    height: 470px;
  }
}


.hero__img p {
  background-color: var(--text2_color);
  padding: 10px 16px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: -5px;

  @media screen and (min-width: 480px) {
    padding: 15px 21px;
    font-size: 21px;
  }

  @media screen and (min-width: 1211px) {
    font-size: 12px;
    padding: 16px 24px;
    bottom: 100px;
    left: -50px;
  }
}


.hero__img div {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: var(--style_color);
  position: absolute;
  bottom: 15px;
  right: 40px;

  @media screen and (min-width: 480px) {
    bottom: 34px;
    width: 50px;
    height: 50px;
  }

  @media screen and (min-width: 1211px) {
    width: 32px;
    height: 32px;
    bottom: 24px;
    right: 90px;
  }
}